.heatmapCon {
    /* margin-left: 2vw; */
    z-index: 2;
}



.backgroundImage {
    position: absolute;
    /* right: 0; */

    z-index: 0;
    left: 67%;
    border-radius: 20px;
}

.densityGraph {
    position: absolute;
    z-index: 1;
}