.world {
	background-color: #f8f7f3;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-width: 110vw;
	overflow: hidden;
  font-family: var(--raleway, sans-serif);
}
.helloworld {
  color: blue;
  background-color: red;
  position: "relative";
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 117px;
  flex-direction: column;
  align-items: center;
  position: "absolute";
  border-style: dotted;
  border-radius: 30px;
  background-color: #ffffff;
}

.drawbutton {
  position: relative;
  margin: 100;
  border: none;
  background: none;
}
.canvasmain {
  border-width: 500;
  border-style: dotted;
  width: 693px;
  border-radius: 25px;
  margin-left: 34px;
  height: 558px;
  margin-right: 66px;
}

.sendButton {
  margin-top: 31px;
  margin-left: 1214px;
  text-align: center;
  width: 218px;
  height: 49px;
  left: 1214px;
  top: 863px;

  background: #221f20;
  border-radius: 30px;
}

.clearButton {
  margin-left: 10px;
}
.canvas {
  margin-top: 0px;
}
.content {
  flex-direction: row;
  display: flex;
}

.body {
  background-color: #f8f7f3;
}

.upload {
  font-size: 30px;
  font-family: "Raleway";
  margin-left: 151px;
  margin-bottom: 7px;
}

.sketch {
  margin-top: 0px;
  font-style: normal;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  margin-left: 151px;
  line-height: 21px;
}
.create {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

.volunteer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.inputFields {
  flex-direction: column;
  display: flex;
}

.volbox {
  width: 449px;
  height: 54px;
  left: 910px;
  top: 311px;

  background: #ffffff;
  border: 1px solid #221f20;
  border-radius: 30px;
}

.dateTime {
  flex-direction: row;
  display: flex;
}

.date {
  flex-direction: column;
  display: flex;
  margin-right: 64px;
}

.dateBox {
  width: 197px;
  height: 54px;
  left: 910px;
  top: 438px;

  background: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
}

.noteBox {
  width: 449px;
  height: 139px;
  left: 910px;
  top: 692px;

  background: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
}

.InstButton {
  text-align: center;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

.tableHeaderButton {
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway";
  border-style: none;
  text-align: center;
  width: 80%;
  height: 32px;
  border-radius: 16px;
}

.tableHeaderButton:focus {
  border: 2px solid #b3b3b3;
}
.form {
  position: absolute;
  left: 600px;
  top: 488px;
}

.enter2 {
  position: absolute;
  width: 309px;
  height: 21px;
  left: 601px;
  top: 445px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.button {
  position: absolute;
  width: 313px;
  height: 54px;
  left: 599px;
  top: 663px;
  background: #221f20;
  border-radius: 30px;
}

.enterText {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.ty {
  position: absolute;
  width: 476px;
  height: 47px;
  left: 518px;
  top: 444px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #221f20;
}

.your {
  position: absolute;
  width: 338px;
  height: 46px;
  left: 587px;
  top: 506px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #221f20;
}

.your2 {
  position: absolute;
  width: 338px;
  height: 46px;
  left: 587px;
  top: 530px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #221f20;
}

.loganother {
  position: absolute;
  width: 288px;
  height: 46px;
  left: 612px;
  top: 864px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #221f20;
}

.loganother2 {
  position: absolute;
  width: 288px;
  height: 46px;
  left: 612px;
  top: 884px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #221f20;
  text-decoration-line: underline;
}

.publicFlow {
  position: absolute;
  width: 331px;
  height: 70px;
  left: 591px;
  top: 230px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;

  color: #000000;
}

.publicFlow2 {
  position: relative;
  width: 166px;
  height: 35px;
  text-align: center;
  left: 673px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}

.cni {
  width: 403px;
  height: 47px;
  margin-left: 552px;
  margin-bottom: 101px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #221f20;
}

.addFilterButton {
	background-color: white;
	border: none;
	text-align: start;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: var(--raleway, sans-serif);
	font-weight: 600;
}

.greyHover:hover {
	background: rgba(179, 179, 179, 0.5);
  cursor: pointer;
}

.addFilterModal {
	z-index: 1;
	display: flex;
	flex-direction: column;
	position: absolute;
	overflow: hidden;
	top: 50px;
	width: 280px;
	background-color: white;
	box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
}

.categoryPlaceholderContainer {
	background: #ffffff;
	border-radius: 30px;
	border: 1px solid #b3b3b3;

	width: 134px;
	height: 34px;
	padding-top: 5px;

	color: #b3b3b3;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.categoryFilterContainer {
	/* width: 206px; */
	height: 34px;

	/* position: sticky; */
	background: #ffffff;
	border: 1px solid #222222;
	border-radius: 30px;
	font-family: var(--raleway, sans-serif);
	justify-content: center;
	width: min-content;
	display: flex;
	padding-left: 10px;
	margin-left: 7px;
	padding-right: 6px;
}

.deleteFilterButton {
	border: none;
	background: none;
	color: white;
	padding-left: 4px;
}

.categoryFilterContainer:hover .deleteFilterButton {
	color: black;
	visibility: visible;
	background: rgba(179, 179, 179, 0.5);
	border-radius: 50%;
}

.filterCategoryButton {
	font-family: var(--raleway, sans-serif);
	border: none;
	background: none;
	font-size: 16px;
	width: max-content;
	display: 'flex';
	align-items: 'center';
}

.selectionEditFilterModal {
	z-index: 1;
	position: absolute;
	top: 50px;
	box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	overflow-y: scroll;
	height: 160px;
	width: 312px;
	background: white;
	scrollbar-width: none;
}

.rangeEditFilterModal {
	z-index: 1;
	position: absolute;
	top: 50px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;

	box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);

	border-radius: 30px;
	overflow-y: scroll;
	width: 200px;
	background: white;
	justify-content: center;
	flex-direction: column;

	scrollbar-width: none;
}

.editFilterModal::-webkit-scrollbar {
	display: none;
}

.noScrollBar {
	scrollbar-width: none;
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
}

.closeButton:hover {
  cursor: pointer;
  color: #b3b3b3;
}

.buttonCreate {
  background-color: #221F20;
  width: 185px;
  height: 40px;
  font-size: 14px;
  border-radius: 30px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editingButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttonCreate:hover {
  background-color: #514f4f;
  cursor: pointer;
}

.buttonCreate:active {
  background-color: #7e7c7c;
  cursor: pointer;
}

.topSpace {
  min-height: 100px;
}
