.container {
    display: flex;
    position:fixed;
    z-index: 99999999;
    min-width: 500px;
    width: 50%;
    max-width: 500px;
    justify-self: center;
    align-self: center;
    /* height: 60%;  */
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    border-radius: 25px;
    font-family: var(--raleway, sans-serif);
    color: #221F20;
    padding: 20px;
    box-shadow: 0px 0px 10px 10px #e0e0e0;
}

.closeButton{
    float: right;
    position: absolute;
    margin: 20px;
    right: 0;
    top: 0;
    z-index: 9999999;
    cursor: pointer;
}

.closeButton:hover {
    color: #58595B;
}

.title h5 {
    margin-top: 30px;
    text-align: center;
    font-family: var(--raleway, sans-serif);
    font-weight: 900;
    font-size: 30px;
}

.title h6 {
    margin-top: 3vh;
    text-align: left;
    font-family: var(--raleway, sans-serif);
    font-weight: 900;
    font-size: 20px;
}

.title ul {
    margin-left: 25px;
    font-family: var(--raleway, sans-serif);
    font-weight: 400;
    font-size: 17px;
}

.bottom {
    margin-bottom: 30px;
}
